<!-- Refer to this file when you get the chance to update the app: https://firehose-splurty.herokuapp.com/ -->



<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
  <header class="row">
    <div class="col-1.5 circle">
      <br />
      You know
      <br />
      you want to
      <br />
      laugh!
    </div>

    <div class="col-3 slogan">
      The most pun you'll have all day!
    </div>
    <div class="col-4 links">
      <%= link_to 'Contribute', '#' %>
      <%= link_to 'About', '#' %>
    </div>
  </header>
  </div>
  
  <hr class= "hr"/>

  <br class="clear" />

  <div class="container">
   <%= yield %>
  </div>

  </body>
</html>
