<!- Refer to this file when you get the chance to update the app: https://firehose-splurty.herokuapp.com/ ->



<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="row">
    <div class="circle">
      <br />
      You know
      <br />
      you want to
      <br />
      laugh!
    </div>

    <div class="slogan">
      The most pun you'll have all day!
    </div>
    <div class="links">
      <%= link_to 'Contribute', '#' %>
    </div>
    <div class="links">
      <%= link_to 'About', '#' %>
    </div>
  </header>
  
  <hr />

  <br class="clear" />

  <%= yield %>

  </body>
</html>
