<!-- Refer to this file when you get the chance to update the app: https://firehose-splurty.herokuapp.com/ -->



<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header class="row">
        <div class="col-3">
        <%= link_to root_path , class: 'logo' do %>
          <div class="circle">
            <br />
            You know
            <br />
            you want to
            <br />
            laugh!
          </div>
        <% end %>
        </div>
    
        <div class="col-5 slogan">
          The most pun you'll have all day!
        </div>
    
        <div class="col-4 links">
          <%= link_to 'Contribute', new_quote_path %>
          <%= link_to 'About', about_path %>
        </div>
      </header>
    </div>
    
    <div class="container">
     <hr class="hr" />
    </div>
  
    <br class="clear" />
  
    <div class="container">
    <% if flash[:error].present? %>
      <div class="col-10 offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
      </div>
      <% end %>
     <%= yield %>
    </div>
  
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <%= link_to "I want snacks! Give me s'more!", root_path, class: 'next-quote' %>
          </div>
          <div class="col-6 footer-credits">
            Proudly made in Atlanta, GA by <a href="http://rgarvin.getforge.io/">Robert</a>. <!-- at <a href="https://www.thefirehoseproject.com/">The Firehose Project.</a> -->
          </div>
        </div>
      </div>
    </div>





  </body>
</html>
